.questions-page-style {
  background-color: rgba(6, 87, 103, 0.23);
  margin: 30px 0;
  border: 2px solid rgb(143, 143, 143);
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 20px 20px 100px rgb(173, 173, 173);
}
